:root {
  --ifm-color-primary: #6f4e37;
  --ifm-color-primary-dark: #5e3e2d;
  --ifm-color-primary-darker: #4d3225;
  --ifm-color-primary-light: #825b44;
  --ifm-color-primary-lighter: #936a50;
  --ifm-navbar-background-color: #6f4e37;
}
